<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

<h2> <%= @restaurant.name %> </h2>

<ul>

  <li>@restaurant.address</li>
  <li>@restaurant.phone_number</li>
  <li>@restaurant.category</li>
  <li>@restaurant.review.count</li>




</ul>
